/* ----------------- DEFAULT ----------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  color: #e5e5e5;
  background-color: #14213d;
  text-align: center;
}

/* ------------------ FONT ------------------- */

h1 {
  font-size: 80px;
}

a {
  text-decoration: none;
}

a::marker {
  color: #fca311;
}

a:hover {
  color: #fca311;
}

/* ----------------- HEADER ------------------ */

header {
  display: flex;
  position: sticky;
  max-width: 1140px;
  justify-content: center;
  top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

nav ol li {
  display: inline-block;
  position: relative;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  font-size: 13px;
}

nav ol li a {
  display: list-item;
  margin: 30px 30px;
}

/* ------------------ BODY ------------------- */

#accent {
  color: #fca311;
}

section {
  display: flex;
  flex-direction: column;
  margin: 150px 150px 300px;
  max-width: 1140px;
}
